html {
	/*makes sure the background doesn't repeat (if this was 50%, it would repeat twice)*/
	height: 100%;
}

body {
	/*Sets the background to shift diagonally from black to white*/
	background: linear-gradient(to bottom right, black, white);
}

h1 {
	font-family: fantasy;
	color: White;
	text-align: center;
	text-shadow: 10px 10px 5px black;
	/*Changes the font size over 0.1 second*/
	transition: font-size 0.1s;
	/*staring font size */
	font-size: 150%;
	animation-name: text;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

#star {
	width: 170px;
	height: 170px;
	background-image: url(star.png);
	/* performs a transition over 1 second */
	transition: transform 1s;
	animation-name: star;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.circle {
	/*makes the div a circle */
	border-radius: 50%;
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	/*the circle will stay at a certain postion even if you scroll*/
	position: Fixed;
	animation-name: ninjaMove;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.ninja {
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
}

.katana {
	width: 400px;
	height: 300px;
	/*background-position:center;*/
	position: relative;
	background-image: url(Ninto.png);
	margin-left: 70%;
	animation-name: Thekatana;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}


/* The circle will appear when you hover over it*/

.ninja2 {
	width: 200px;
	height: 200px;
	background-image: url(ninja-silhouette-image-2.png);
	/*The second ninja is 90% away from the left margin, relative to its parent container*/
	margin-left: 90%;
	animation-name: disninja;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	/*Makes the second ninja invisible*/
	opacity: 0;
	background-repeat: no-repeat;
}

.circle:hover {
	/*Sets the background of the circle to shift diagonally from black to yellow*/
	background: linear-gradient(to bottom right, black, yellow);
}


/* The ninja will appear when you hover over it*/

.ninja:hover {
	background-image: url(ninja-silhouette-image-2.png);
}


/*The ninja will move a certain percentage away from the top over the course of the animation*/

@keyframes ninjaMove {
	0% {
		top: 0%;
	}
	25% {
		/*When the animation is 25% done, he ninja will be 20% away from the top*/
		top: 20%;
	}
	50% {
		top: 40%;
	}
	75% {
		top: 60%;
	}
	100% {
		top: 80%;
	}
}


/*The star will spin to the right over the course of the animation*/

@keyframes star {
	to {
		/*makes the ninja star move to the right(100% away from the left margin)*/
		margin-left: 100%;
		/*makes the ninja star spin*/
		transform: rotate(720deg);
	}
}

@keyframes Thekatana {
	to {
		transform: rotate(-90deg);
	}
}


/*The ninja will fide in and out over the course of the animation*/

@keyframes disninja {
	0% {
		opacity: 0;
	}
	95% {
		opacity: 0;
	}
	/*From 90-95% of the animation, the ninja will be insivisible. 
	In the last 5% of the animation, the ninja will appear*/
	100% {
		opacity: 1;
	}
}


/*The h1 will change its size over the course of the animation*/

@keyframes text {
	0% {
		font-size: 250%;
	}
	/*When the animation is 25% complete, the h1 will decrease from 250% to 150%*/
	25% {
		font-size: 150%;
	}
	50% {
		font-size: 250%;
	}
	75% {
		font-size: 150%;
	}
	100% {
		font-size: 250%;
	}
}
